/*
Color scheme
background: #f3e1dd
foreground/text: #35374c
elements: #b0413e
content-background: #eafbf0
*/

/* ----------- MAIN ------------- */
body {
    background-color: #f3e1dd;
    font-family: sans-serif;
}

#contact-header {
    width: 95%;
    padding: 5px 0;
    margin: 20px auto 0 auto;
}

#contact-header {
    border: #b0413e33 solid 1px;
}

#contact-header > span {
    padding: 0 20px;
}

a {
    color: #b0413e;
    text-decoration: none;
}

footer, #contact-header {
    background-color: #eafbf0;
    color: #35374c;
}

footer {
    text-align: center;

}

/* ----------- HERO IMAGE ------------- */
#hero-image {
    height: 25em;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    width: 95%;
    border: #b0413e33 solid 1px;
}

#text-container {
    max-width: 1500px;
    margin: 0 auto;
}

#title-container {
    padding-top: 70px;
    padding-bottom: 40px;
}

#title {
    display: block;
    width: 80%;
    margin: 0 auto;
    font-weight: 700;
    font-size: 5em;
    text-align: center;
    color: #b0413e;
    text-shadow: 1px 1px 2px #35374c;
    background-color: #fffd;
}

#subtitle {
    width: 85%;
    padding-top: 5px;
    padding-bottom: 3px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 2px #35374c;
    background-color: #b0413edd;
}

#flags-container {
    float: right;
}

.flag-image {
    float: right;
    margin: 5px;
    height: 10%;
    width: 18%;
    opacity: 0.55;
    border: #b0413e33 solid 1px;
}

.flag-image[active] {
    opacity: 0.95;
}

.flag-image:hover {
    opacity: 1;
    border: #f3e1dd solid 1px;
}

/* ----------- CONTENT ------------- */
#content {
    margin: 20px auto;
    width: 70%;
    background-color: #eafbf0;
    border: #b0413e33 solid 1px;
}

.section {
    margin-bottom: 20px;
    padding: 30px 30px;
    overflow: auto;
    margin-bottom: 10px;
}

.section-text-container {
    padding: 20px 10px;
}

.services-container {
    display: flex;
}

#services-list-container {
    padding-left: 40px;
}

#services-image {
    width: 400px;
    height: 400px;
    border: #f3e1dd solid 1px;
}

#profile-image {
    float: right;
    margin-left: 40px;
    border: #f3e1dd solid 1px;
}

hr {
    border-color: #35374c;
    max-width: 400px;
    margin: 15px auto;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
}

p, ul {
    line-height: 1.6;
    margin: 0 0 10px 0;
    text-align: justify;
}

/* ----------- MOBILE ------------- */
@media (max-width: 575px) {
    #profile-image {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 1200px) {
    #hero-image {
        width: 99%;
        height: 20em;
    }

    #title-container {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    #title {
        font-size: 2em;
    }

    #subtitle {
        font-size: 1em;
    }

    #contact-header {
        width: 99%;
        text-align: center;
    }

    #content {
        width: 95%;
        font-size: 0.8em;
    }

    .section {
        padding: 0;
    }

    hr {
        border-color: #35374c;
        max-width: 80%;
        margin: 15px auto;
    }

    p, ul {
        line-height: 1;
        text-align: center;
    }

    ul {
        padding-left: 20px;
        text-align: left;
    }

    #profile-image {
        float: none;
        width: 80%;
        height: auto;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }

    #services-image {
        width: 80%;
        height: auto;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }

    .services-container {
        display: block;
    }

    #services-list-container {
        padding: 20px;
    }

    #services-list-container li{
        padding-top: 3px;
    }

    .flag-image {
        height: 6%;
        width: 11%;
    }

    .body-text {
        padding: 0 20px;
    }
}
